- unless @tweets.blank?
  %dl#tweet_list
    - @tweets.each do |tweet|
      %dd.c
        %p= tweet.tweet
        %details
          %ul.c
            - unless tweet.sent_at.blank?
              %li.left
                Sent
                %time{:datetime => tweet.sent_at.to_s}= Time.parse(tweet.sent_at.to_s).to_s
            - else tweet.sent_at.blank?
              %li.left
                %em Queued
              %li.right.delete.hide
                %a{:href => "/tweets/#{tweet.id}/delete"} Delete
              %li.right.send.hide
                %a{:href => "/tweets/#{tweet.id}/send"} Send Now!

- else
  %p There are no tweets to show.