%form{:action => '/tweets/create', :method => 'post'}
  %section#tweet_fields
    - unless @tweets.blank?
      - @tweets.each do |tweet|
        %fieldset
          - unless tweet.errors.blank?
            %ul.errors
              - tweet.errors.each do |e|
                %li #{e}.
          %p
            %textarea.tweet{:name => 'tweets[]'}= tweet.tweet
          %aside.c
            %button.cancel.hide.right{:href => 'javascript:void();'} Cancel
            %p.right.charsleft.hide= (140-tweet.tweet.length)

    - else
      %fieldset
        %p
          %textarea.tweet{:name => 'tweets[]', :placeholder => 'Enter your tweet...'}
        %aside.c
          %button.cancel.hide.right{:href => 'javascript:void();'} Cancel
          %p.right.charsleft.hide 140

  
  %fieldset.buttons.c
    %input#tweets_add_more.hide.left{:type => 'button', :value => 'Add another tweet!'}
    %button#tweets_submit.right Queue Tweets!
    